body{
background:url('/back.jpg');
background-origin:initial!important;
background-position:bottom center!important;
background-repeat:no-repeat!important;
background-size:cover!important;
background-attachment:fixed!important;
position:relative;
z-index:0;
margin:0;
padding-top:20px;
padding-right:0!important;
height:auto;
font-family:nunito,sans-serif;
-webkit-font-smoothing:antialiased;
color:#999;
}
*{
box-sizing:border-box;
}
label{
font-size:24px;
align-self:left;
}
.cont,form{
width:100%;
padding-right:15px;
padding-left:15px;
margin-right:auto;
margin-left:auto;
text-align:center!important;
vertical-align:middle;
}
.foot *{
padding-top:10px;
font-size:12px;
text-decoration:none!important;
}
.foot a{
color:#0079c1;
}
.opt{
font-size:24px;
}
.gr-in{
width:25%;
margin:auto;
display:grid;
grid-template-rows:1fr;
}
.gr-in .in-gr{
vertical-align:middle;
display:grid;
grid-template-columns:50%50%;
}
input[type="radio"]{
vertical-align:baseline;
margin:auto;
align-self:right;
}